body{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
.first{
    margin: 0px;
    padding: 5px;
    font-size: 24px;;
    background-color: rgb(184, 255, 231);
    border:5px sienna;

    position:relative;    /*relative to its static/default position*/
    right:0px;
    bottom:0px;
    left:0px;
    top:0px;                 /*this is how to change position of the element*/
    z-index:100;             /*this is used to show whichever will be overlapping; whichever has more z-index value will appear top*/

}

.fixed{
    position:fixed; /*relative to viewport*/
}

.second{
    margin: 0px;
    padding: 10px;
    font-size: 24px;;
    background-color: rgb(71, 99, 252);
    border:51px sienna;
    
    position:absolute;    /*relative to its parent's position when its NOT positioned static/default position*/
    top:15px;
    right:10px;
    z-index:10;
}
 
.git:link{
    color:rgb(41, 116, 255)

}
.git:visited{
    color:blueviolet;
}
.git:hover{
        color:rgb(199, 219, 255)

}

.sticky{
    position:sticky; /*is static until a specified position is reached by scrolling*/
}

.third{
    padding:5px;
    border:422px red;
    margin:50px;
    height:50px;
    overflow:scroll;     /*adds 2 scrollbars*/
} 